---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeaderImage from "../../components/HeaderImage.astro";
import BlogList from "../../components/BlogList.astro";
---

<Layout title="Blogs main page">
  <main
    class="bg-black text-white min-h-screen flex flex-col lg:flex-row p-4 lg:p-0"
  >
    <HeaderImage />
    <div
      class="pt-10 lg:pt-32 ml-[28%] lg:ml-[16.666667%] min-h-screen p-4 md:p-18 md:pt-24 overflow-y-auto lg:w-3/4 overflow-x-hidden"
    >
      <div class="flex flex-col justify-between h-full">
        <div
          class="flex flex-col content-center justify-center px-4 lg:flex-row lg:justify-start lg:gap-x-40"
        >
          <BlogList titleName={"Posts"} />
        </div>
      </div>
    </div>
    <Header />
  </main>
</Layout>
