---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import HeaderImage from "../../components/HeaderImage.astro";
import BlogList from "../../components/BlogList.astro";
import LinkList from "../../components/LinkList.astro";
---

<Layout title="My Daily Bliss.">
  <main
    class="text-white min-h-screen h-screen flex flex-row items-start lg:flex-col lg:items-start lg:justify-around"
  >
    <HeaderImage />

    <div
      class="flex flex-col justify-start h-full ml-[33%] md:ml-[25%] lg:ml-[17%] xl:ml-[16%] 2xl:ml-[12%] w-full mt-10 lg:mt-20"
    >
      <div class="grid grid-cols-1 lg:grid-cols-1">
        <BlogList />
        <LinkList />
      </div>
      <Header />
    </div>
  </main>
</Layout>
