---
import BlogList from "../BlogList.astro";
import DesktopInfo from "./DesktopInfo.astro";
import LinkList from "../LinkList.astro";
---

<div class="hidden lg:flex flex-col mt-10 lg:mt-0 h-full">
  <div class="relative text-7xl font-bold tracking-wide mb-6 font-darkerGrote">
    <h1 class="absolute left-3 text-white uppercase">
      A compilation of my daily joyness
    </h1>
    <h1 class="uppercase mb-2 text-primary-100">
      A compilation of my daily joyness
    </h1>

    <hr />
  </div>
  <div class="w-full">
    <img
      class="object-cover object-bottom w-full h-1/2 rounded-md shadow-lg opacity-70 hover:opacity-100 transition-opacity duration-300"
      src="/jump.jpg"
      alt=""
    />
    <BlogList />
  </div>
</div>

<style>
  img {
    height: 200px;
  }
</style>
