---
import BlogList from "../BlogList.astro";
---

<div class="hidden lg:flex flex-col h-full gap-y-4 items-start">
  <div class="w-full flex-none h-2/3">
    <img
      class="object-cover object-bottom w-full h-1/2 rounded-md shadow-lg opacity-70 hover:opacity-100 transition-opacity duration-300"
      src="/jump.jpg"
      alt=""
    />
  </div>
</div>

<style>
  p {
    @apply text-2xl font-mono font-normal text-gray-200;
  }
</style>
