---

---

<div class="hidden lg:flex flex-col gap-y-4 pr-10">
  <h1 class="text-5xl font-roboto font-bold text-primary">Welcome</h1>
  <p>
    Here you will find a compilation of my daily joyness. <br />
  </p>
  <h2 class="text-4xl font-roboto font-bold text-primary mt-7">
    What does it mean?
  </h2>
  <p>
    Content that fills my head and soul everyday, and that I believe it could
    fill yours too. So hope this content can be useful for you as it is for me
    in my everyday. No specific topic is followed, I just write about whatever I
    feel interested in that particular day.
  </p>
  <div class="border-b-2 mt-2 opacity-50"></div>
  <img
    src="/jump.jpg"
    alt="MILT: Man I love TURNSTILE"
    class="object-contain rounded-lg shadow-lg opacity-80 hover:opacity-100 transition-opacity duration-300 my-auto"
  />
</div>

<style>
  p {
    @apply text-2xl font-mono font-normal text-gray-200;
  }
</style>
