---
import BlogList from "../BlogList.astro";
import DesktopInfo from "./DesktopInfo.astro";
import LinkList from "../LinkList.astro";
---

<div class="hidden lg:flex flex-col mt-10 lg:mt-0">
  <div class="w-full">
    <img
      class="object-cover object-bottom w-full rounded-md shadow-lg opacity-60 hover:opacity-100 transition-opacity duration-300"
      src="/jump.jpg"
      alt=""
    />
    <div class="content mt-3 overflow-y-auto hide-scrollbar">
      <div class="grid grid-cols-1 grid-rows-1">
        <BlogList />
        <LinkList />
      </div>
    </div>
  </div>
</div>

<style>
  .content {
    height: calc(100vh - 310px);
  }

  img {
    height: 200px;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
</style>
