---
import BlogList from "../BlogList.astro";
import DesktopInfo from "./DesktopInfo.astro";
import LinkList from "../LinkList.astro";
---

<div class="hidden lg:flex flex-col mt-10 lg:mt-0 h-full">
  <div class="relative text-7xl font-bold tracking-wide mb-6 font-darkerGrote">
    <h1 class="absolute left-3 text-white uppercase">
      A compilation of my daily joyness
    </h1>
    <h1 class="uppercase mb-2 text-primary-100">
      A compilation of my daily joyness
    </h1>

    <hr />
  </div>
  <div class="w-full h-1/2">
    <img
      class="object-cover object-bottom w-full h-1/2 rounded-md shadow-lg opacity-60 hover:opacity-100 transition-opacity duration-300"
      src="/jump.jpg"
      alt=""
    />
    <div class="grid grid-cols-3">
      <div class="col-span-2"><BlogList /></div>
      <div class="grid grid-rows-3 grid-cols-2">
        <p class="col-start-2 col-end-2 relative -top-5 drop-shadow-md">
          a record of the ordinary of my days, but that fullfill the totallity
          of my hearth. Content that fills my head and soul everyday, and that I
          believe it could fill yours too. So hope this content can be useful
          for you as it is for me in my everyday. No specific topic is followed,
          I just write about whatever I feel interested in that particular day.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  img {
    height: 200px;
  }
</style>
