---
import BlogList from "../BlogList.astro";
import DesktopInfo from "./DesktopInfo.astro";
import LinkList from "../LinkList.astro";
---

<div class="hidden lg:flex flex-col mt-10 lg:mt-0 h-full">
  <div class="w-full">
    <img
      class="object-cover object-bottom w-full h-1/2 rounded-md shadow-lg opacity-70 hover:opacity-100 transition-opacity duration-300"
      src="/jump.jpg"
      alt=""
    />
    <BlogList />
  </div>
</div>

<style>
  img {
    height: 200px;
  }
</style>
