---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import Header from "../components/Header.astro";
import HeaderImage from "../components/HeaderImage.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="bg-black text-white min-h-screen flex flex-col lg:flex-row p-4 lg:p-0"
  >
    <HeaderImage />
    <!-- <p
      class="fixed hidden lg:inline text-xl w-full lg:top-0 lg:left-0 z-20 font-bold py-1 writing-vertical-rl transform rotate-180"
    >
      ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    </p> -->
    <div
      class="pt-20 lg:pt-32 lg:ml-[16.666667%] min-h-screen p-4 md:p-8 overflow-y-auto lg:w-3/4"
    >
      <Header />
      <div
        class="flex flex-col content-center justify-center px-4 lg:flex-row lg:justify-start lg:gap-x-40"
      >
        <BlogList titleName={"Posts"} />
        <BlogList titleName={"Content"} />
      </div>
    </div>
  </main>
</Layout>
