---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import Header from "../components/Header.astro";
import HeaderImage from "../components/HeaderImage.astro";
import DesktopMain from "../components/main/DesktopMain.astro";
import MobileMain from "../components/main/MobileMain.astro";
import BenjiQuest from "../components/main/BenjiQuest.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="text-white min-h-screen h-screen flex flex-row items-start lg:flex-col lg:items-start lg:justify-around"
  >
    <HeaderImage />

    <div
      class="test flex flex-col h-full ml-[33%] lg:ml-[17%] xl:ml-[16%] 2xl:ml-[12%] mt-10"
    >
      <DesktopMain />
      <MobileMain />
      <Header />
    </div>
    <BenjiQuest />
  </main>
</Layout>

<style>
  body {
    overflow: hidden;
  }

  .test {
    width: calc(100% - 15%);
  }
</style>

<script>
  import isElementInViewport from "../utils/uitls";
  import gsap from "gsap";
  import { Draggable } from "gsap/Draggable";

  gsap.registerPlugin(Draggable);

  const benji_img = document.querySelector(".benji-img");

  const getter = gsap.getProperty(benji_img);

  const JoynessTopElements: NodeListOf<Element> | null =
    document.querySelectorAll(".joyness");
  const JoynessBottomElements: NodeListOf<Element> | null =
    document.querySelectorAll(".joyness2");

  let JoynessElementInViewport: HTMLElement | null = null;
  const tl = gsap.timeline();

  let start: number = Date.now();
  let current = 0;
  let delta = 0;

  const headerImage: HTMLImageElement = document.querySelectorAll("img")[0];
  const header: HTMLElement | null = document.querySelector("header");

  gsap.fromTo(
    ".text1",
    { alpha: 0, duration: 3, delay: 0.8 },
    { alpha: 1, duration: 3, delay: 0.8 }
  );

  gsap.fromTo(
    ".text2",
    { alpha: 0, duration: 3, delay: 1 },
    { alpha: 1, duration: 3, delay: 1 }
  );

  tl.fromTo(
    ".square1",
    { alpha: 0, duration: 0.5 },
    { alpha: 1, duration: 0.5 }
  )
    .fromTo(
      ".square2",
      { alpha: 0, duration: 0.7 },
      { alpha: 1, duration: 0.7 }
    )
    .fromTo(
      ".square3",
      { alpha: 0, duration: 0.7 },
      { alpha: 1, duration: 0.7 }
    );

  for (let i = JoynessTopElements.length - 1; i >= 0; i--) {
    if (isElementInViewport(JoynessTopElements[i])) {
      JoynessElementInViewport = JoynessBottomElements[i] as HTMLElement;
      break;
    }
  }

  const twinkleText = (element: HTMLElement | null) => {
    current = Date.now();
    delta = Math.floor((current - start) / 1000);

    const tlTwinkle = gsap.timeline({
      onComplete: () => twinkleText(element),
    });

    if (delta > 2) {
      tlTwinkle.fromTo(
        element,
        { alpha: 1, duration: 0.4, ease: "power3.inOut" },
        { alpha: 0.5, duration: 0.2, ease: "power3.inOut" }
      );
    }
  };

  Draggable.create("#drag", {
    type: "x,y",
    bounds: "#drag-container",
    onDrag: (e) => {
      gsap.to(".benji-img", {
        scale: "+=0.1",
        onUpdate: () => {
          if ((getter("scale") as number) > 1) {
            tl.to(".benji-img", {
              scale: 0.5,
              duration: 1,
              opacity: 0,
            })
              .to("#gradient", {
                opacity: 0,
                duration: 1,
                ease: "power3.inOut",
                display: "none",
              })
              .to(headerImage, {
                display: "block",
                opacity: 1,
                x: 0,
                duration: 0.5,
              })
              .to(header, { y: 0, duration: 0.5, display: "block" })
              .to(".text-container", {
                display: "block",
              })
              .to(".text-container", { opacity: 1, duration: 0.5 });
          }
        },
      });
    },
  });

  JoynessElementInViewport?.addEventListener("click", () => {
    tl.to(headerImage, {
      opacity: 0,
      x: -100,
      duration: 0.5,
      display: "none",
    })
      .to(header, { y: "+=100", duration: 0.5, display: "none" })
      .to(".text-container", {
        opacity: 0,
        duration: 0.5,
        display: "none",
      })
      .to("#gradient", {
        backgroundImage:
          "linear-gradient(to bottom, black 0%, black 60%, #212121 100%)",
        duration: 1.5,
        display: "flex",
        delay: 0.5,
      })
      .to([".thunder", ".thunder2"], {
        opacity: 1,
        duration: 0.3,
        stagger: 0.8,
      })
      .to([".thunder", ".thunder2"], {
        opacity: 0,
        duration: 0.3,
        stagger: 0.1,
      })
      .to(".benji-img", { opacity: 1, duration: 0.6 })
      .to(".benji-text", { opacity: 1, duration: 0.5 });
  });

  twinkleText(JoynessElementInViewport);
</script>
