---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { type CollectionEntry } from "astro:content";
import BlogItem from "../components/BlogItem.astro";
import Header from "../components/Header.astro";

const posts = await getCollection("blog");

type BlogCollectionEntry = CollectionEntry<"blog">;
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <h2 class="text-5xl mt-10 mb-5 text-bold">Posts</h2>
    <ul role="list" class="">
      {
        posts.map((post: BlogCollectionEntry) => (
          <BlogItem
            title={post.data.title}
            slug={post.slug}
            pubDate={post.data.pubDate}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
