---
import FormatedDate from "./FormatedDate.astro";
const { title, slug, pubDate, description, imageUrl, url, ...style } =
  Astro.props;
---

<a
  href={slug !== "" ? `/blog/${slug}/` : url}
  class="group block cursor-pointer"
>
  <li class="block group-hover:bg-neutral-900 p-6 transition-colors">
    <div class="flex items-start justify-between">
      <div class="space-y-3">
        <h2
          class="text-3xl font-bold tracking-wide group-hover:text-primary transition-colors font-roboto"
        >
          {title}
        </h2>

        <p class="text-neutral-400 tracking-wider text-lg">
          {description}
        </p>
        <div class="mt-4 text-md tracking-[0.2em] text-neutral-500">
          <FormatedDate date={pubDate} />
        </div>
      </div>
    </div>
  </li>
</a>
