---
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import BlogItem from "./BlogItem.astro";
import FormatedDate from "./FormatedDate.astro";

let posts = await getCollection("blog");
let links = await getCollection("linkPage");

type BlogCollectionEntry = CollectionEntry<"blog">;
type LinkCollectionEntry = CollectionEntry<"linkPage">;

const { titleName } = Astro.props;
---

<!-- <div class="min-h-full overflow-y-auto w-full"> -->
<div>
  {
    posts.map((el) => {
      return <BlogItem slug={el.slug} {...el.data} />;
    })
  }
</div>
<!-- {
    links.map((el) => {
      return <BlogItem slug={""} {...el.data} />;
    })
  } -->
<!-- </div> -->
