---
import FormatedDate from "./FormatedDate.astro";
const { title, slug, pubDate, references } = Astro.props;
---

<li class="flex flex-col md:flex-row my-8 justify-start md:gap-5">
  <FormatedDate date={pubDate} />
  <a class="order-1" href={`/blog/${slug}/`}>
    <h4 class="text-3xl pt-1 font-bold font-montserrat underline-offset-4">
      {title}
    </h4>
  </a>
</li>

<style>
  h2,
  h4 {
    @apply font-bold;
  }
</style>
