---
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import BlogItem from "./BlogItem.astro";

let posts = await getCollection("blog");

type BlogCollectionEntry = CollectionEntry<"blog">;

const { titleName } = Astro.props;
---

<div class="mt-8 grid gap-8 md:grid-cols-2 lg:grid-cols-2">
  {
    posts.map((el) => {
      return <BlogItem slug={el.slug} {...el.data} />;
    })
  }
</div>
