---
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import BlogItem from "./BlogItem.astro";

let posts = await getCollection("blog");

type BlogCollectionEntry = CollectionEntry<"blog">;

const { titleName } = Astro.props;
---

<div class="space-y-6 mt-5">
  {
    posts.map((el) => {
      return <BlogItem slug={el.slug} {...el.data} />;
    })
  }
</div>
