---
interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<time
  class="text-second text-lg md:text-xl lg:text-xl opacity-90 font-darkerGrote"
  datetime={date.toISOString()}
>
  <p>
    {
      date.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </p>
</time>
