---
import { SITE_TITLE } from "../../consts";
---

<header class="mb-10 mt-5">
  <div class="title py-3 flex flex-row lg:flex-col">
    <h2 class="text-xl lg:text-2xl"><a href="/">{SITE_TITLE}</a></h2>
    <h2 class="text-lg lg:text-xl">Welcome</h2>
  </div>
  <hr />
</header>

<style>
  .title {
    display: flex;
    justify-content: space-between;
  }
  .title h2:nth-child(2) {
    color: #ffebcd;
  }
</style>
