---
import { SITE_TITLE } from "../../consts";
---

<header
  class="fixed px-5 bottom-0 h-16 md:h-24 z-20 left-0 right-0 w-5/4 bg-black pt-2 md:pt-5 lg:mb-0 font-darkerGrote font-bold"
>
  <div class="lg:hidden w-full lg:w-9/12 py-2 flex flex-row">
    <div class="flex flex-col w-full md:flex-row justify-between pb-2">
      <ul class="flex flex-row gap-3 justify-center">
        <h2 class="text-xl lg:text-4xl hover:text-primary">
          <a href="/">{SITE_TITLE}</a>
        </h2>
        <li
          class="text-xl lg:text-3xl flex gap-1 lg:gap-x-3 flex-row text-primary hover:text-white"
        >
          <span class="text-white px-1">|</span>
          <a href="/blog"> Blogs</a>
        </li>
      </ul>
      <h2 class="hidden md:inline text-[#ffebcd] text-lg lg:text-3xl">
        Welcome
      </h2>
    </div>
  </div>
  <div class="border-t-2 w-full opacity-50 hidden lg:block">
    <div class="not-a-footer-wrapper mt-5 text-xl font-roboto w-full">
      <div class="not-a-footer-parent">
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
        <span class="not-a-footer-element">DAILY REMINDER, BUILD.</span>
      </div>
    </div>
  </div>
</header>

<style>
  .not-a-footer-wrapper {
    /* position: absolute; */
    /* width: 1630px; */
    /* left: 12%; */
    height: 6rem;
    overflow: hidden;
  }

  .not-a-footer-parent {
    position: relative;
    left: -220px;
  }

  .not-a-footer-element {
    position: absolute;
    width: 200px;
    height: 30px;
  }
</style>

<script>
  import gsap from "gsap";

  gsap.set(".not-a-footer-element", {
    x: (i) => i * 220,
  });

  gsap.to(".not-a-footer-element", {
    duration: 15,
    ease: "none",
    x: `+=${2200}`,
    modifiers: {
      x: gsap.utils.unitize((x) => parseFloat(x) % 2200),
    },
    repeat: -1,
  });
</script>
